@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700');

body
{
    background-color: #FDFEFE;
    font-family: 'Inconsolata', monospace;
}

p
{
    color: #566573;
}

a
{
    color: #566573;
}

section
{
    box-shadow: 5px 5px 5px #E5E7E9;
    border-radius: 5px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    
    padding: 5px 10px 5px 10px;
    
    background-color: #EAEDED;
}

ul
{
    color: #566573;
    text-align: justify;
}

footer
{
    text-align: center;
}

h1
{
    color: #273746; 
    text-align: center;
    font-size: 50px;
}

h2
{
    color: #2C3E50;
    margin-bottom: 0px;
}

h3
{
    color: #5D6D7E;
}

.centre
{
    text-align: center;
}

.date
{
    text-align: right;
    color: #D0D3D4;
    margin-bottom: 0px;
}

.lien
{
    text-align: left;
    margin-left: 20px;
}
.lien a
{
    color: #D0D3D4;
    margin-bottom: 0px;
    margin-top: 0px;
}

.lien a:hover
{
    color: #909497;
}

.date:hover
{
    color: #909497;
}

nav
{
    margin-left: 10%;
    margin-right: 10%;
}

iframe {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Inconsolata', monospace;
}

img {
    margin-left: 20px;
}

.flag
{
    position: fixed;
    left: 5px;
    top: 1px;
}